/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Inter, sans-serif;
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Playfair Display', serif;
}